@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 800px;
}

body {
  min-width: 800px;
  overflow-x: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bebas), Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
